@media only screen and (width <= 40rem) {
  .header,
  .page,
  .footer {
    padding: var(--size-m);
  }
}

@media only screen and (width > 40rem) {
  .header,
  .page {
    flex: 0 1 auto;
    margin-left: var(--size-xl);

    & > * {
      padding-right: var(--size-xl);
    }

    & > * > *:not(.is-full-width) {
      max-width: var(--max-width-content);
    }
  }

  .footer {
    padding-left: var(--size-xl);
  }
}



/* Page
############################################################################ */
.page {
  flex: 1 1 auto;
}

/* Section
############################################################################ */
.section {
  &.has-seperator {
    padding-top: var(--size-l);
    border-top: dotted var(--border-width) var(--border-color);
    margin-top: var(--size-xl);
  }

  &.with-bg-gray,
  &.with-bg-dark{
    padding-top: var(--size-xl);
    padding-bottom: var(--size-xxl);
    margin-top: var(--size-xl);
    background-color: var(--color-light);

    @media only screen and (width <= 40rem) {
      padding: var(--size-xl) var(--size-m);
      margin: calc(var(--size-m) * -1);
      margin-top: var(--size-xl) ;
    }

    @media only screen and (width > 40rem) {
      padding-left: var(--size-xl);
      margin-left: calc(var(--size-xl) * -1);
    }
  }

  &.with-bg-dark{
    background-color: var(--color-dark);
    * { color: var(--color-lightest) }
  }



}

.section.with-bg-gray + .section.with-bg-dark{
  margin-top: 0;
}

section + section{
  margin-top: var(--size-xl);
}

/* Abschnitt "Thema vorschlagen" */

.themenwunsch {
  padding: var(--size-l);
  background-color: var(--color-dark);
  color: var(--color-light);
  text-align: left;
}

.themenwunsch h2{
  color: var(--color-light);
}

.themenwunsch h2 i{
  color: var(--color-light);
}

.form-suggestion {
  display: grid;
  max-width: 600px;
  margin: 0 auto;
  gap: var(--size-m);
  text-align: left;
  
}

.form-suggestion label {
  color: var(--color-light);
  font-size: var(--base-font-size);
  
}

.form-suggestion input, .form-suggestion textarea {
  width: 100%;
  padding: var(--size-s);
  border: none;
  border-bottom: 2px solid var(--color-pink);
  background: transparent;
  color: var(--color-light);
  font-family: var(--font-family-sans);
  font-size: var(--base-font-size);
  
}

.form-suggestion input:focus, .form-suggestion textarea:focus {
  border-bottom-color: var(--color-green);
  outline: none;
  
}

.btn-submit {
  padding: var(--size-s) var(--size-m);
  border: none;
  background-color: var(--color-pink);
  color: var(--color-light);
  cursor: pointer;
  font-size: var(--base-font-size);
  transition: background-color var(--tr-fast);
}

.btn-submit:hover {
  background-color: var(--color-green);
}

/* Grid Layout für abgeschlossene Arbeiten */
.is-grid {
  display: grid;
  gap: var(--size-m);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.work-item {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: #fff;
}

.work-item img {
  display: block;
  width: 100%;
  height: auto;
}

.work-content {
  padding: var(--size-m);
}

.work-content h3 {
  margin-bottom: var(--size-s);
  color: var(--color-darkblue);
  font-size: var(--font-size-l);
}

.work-content p {
  color: var(--color-dark);
  font-size: var(--font-size-m);
}

.image-gallery {
  margin: 2em 0;
}

.gallery-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr); /* 5 Spalten */
  
}

.gallery-item {
  overflow: hidden;
  width: 100%;
  height: 150px; /* Höhe der Rechtecke festlegen */
  
}

.gallery-image {
  width: 100%;
  height: 100%;
  border-radius: 5px; /* Optional: Abgerundete Ecken für die Bilder */
  object-fit: cover; /* Stellt sicher, dass die Bilder in das Rechteck passen und bei Bedarf zugeschnitten werden */
  object-position: center; /* Zentriert das Bild im Rechteck */
}


